body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.full-stars{
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #fde16d;
}
  
.empty-stars:before,
.full-stars:before {
	content: "\2605\2605\2605\2605\2605";
	font-size: 14pt;
}
  
.empty-stars:before {
	-webkit-text-stroke: 1px #848484;
}
  
.full-stars:before {
	-webkit-text-stroke: 1px orange;
}
.margin-fixed{
	top: 70px!important;
}